/* nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 520px;
  height: 55px;
} */
nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Barlow Regular", sans-serif;
}
nav p {
  margin-left: 20px;
  color: #ffffff;
  order: -1;
}
