body {
  background-color: #211f2a;
  font-family: "Barlow Regular", sans-serif;
  margin: 0;
}
.container {
  margin: 5% 10%;
}
.input {
  display: flex;
  flex-direction: column;
}
.input input {
  width: 500px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #2b2f40;
  color: #fff;
  border: none;
}
.input label,
h1 {
  color: #fff;
}
.submit {
  border-radius: 10px;
  background-color: #6757d6;
  border: none;
  color: #ffffff;
  padding: 0px 7px;
  width: fit-content;
  margin: 10px 0;
}
.submit:hover {
  cursor: pointer;
}
.error {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
  text-align: center;
  font-size: 13px;
  color: #ff0000;
}
